/**
#13181F Dark Grey
#1A222B Medium Grey
#D9E8F5 Light Grey
#FFFFFF White
#E53F00 Orange
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
**/


@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #1A1A1A;
}

body {
  
}

h1 {
  color: #E53F00;
  font-size: 5.609em;
  margin: 0.125em;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1;
}

h2 {
  color: #D9E8F5;
  font-weight: 300;
  font-size: 1.333em;
  margin: 2em 0 0 0;
  font-family: 'Ubuntu', sans-serif;
}

.center {
  text-align: center;
}

p {
  color: #D9E8F5;
  width: 50%;
  max-width: 700px;
  margin-left: 25%;
  line-height: 1.6;
  margin-top: 5em;
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

a {
  color: #D9E8F5;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  border: 1px solid #D9E8F5;
  border-radius: 5px;
  padding: 0.5em 2em;
  margin: 0 1em 0 1em;
}

.link-hover:hover {
  color: #E53F00;
  border: 1px solid #E53F00;
  padding: 0.55em 2.05em;

}

li {
  text-decoration: none;
  display: inline;
}

ul {
  font-size: 1.333em;
  list-style-type: none;
  padding: 0;
  margin-top: 5em;
}


@media only screen and (max-width: 668px) {
  li {
    display: block;
    margin: 1.5em 0 1.5em 0; 
  }

  h1 {
    font-size: 4.209em;
  }
  p {
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3.157em;
  }
}

@media only screen and (max-width: 318px) {
  h1 {
    font-size: 2.369em;
  }
}